*{
    margin: 0;
    padding: 0;

}

body{
    background-color:rgb(210, 225, 225);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

#fondo-pagina{
    margin: 0 auto;
    background-color: rgb(210, 225, 225);
    position: relative;
    width: 95%;
    max-height: 800px;
    border-color: blueviolet;

}

#foto-perfil{
    margin: 10px 0 0 57px;
    padding: 0;
    float:left;
    position: relative;
    width:20%;
    height: 200px;
    background-color: rgb(210, 225, 225);
}
.img-perfil{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

#banner{ 
    margin-top: 10px;
    padding: 0;
    float:right;
    position: relative;
    width:75%;
    height: 200px;
    background-color: rgb(210, 225, 225);

}

.img-banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
}

#nombre-completo{
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float:left;
    position: relative;
    width:20%;
    background-color: rgb(210, 225, 225);
    height: auto;   
}

#contenido-cv{
    margin-top: 20px;
    margin-left: 90px;
    padding: 0;
    width: 92%;
    height: auto;
    background-color: white;
    border-color: grey;
    border-radius: 5px;
    display: flex;  
}

.wrap{
    
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
    float:right;
    position: relative;
    width: 97%;
    height: auto; 
}
ul.tabs{
	width: 100%;
	background: lightslategray;
	list-style: none;
	display: flex;
}


ul.tabs li{
    list-style: none;
	width: 18%;
}

ul.tabs li a{
  
    color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
    background: #0984cc;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}


#contenido-CV{
    display: inline-block;
    background-color: white;
    width: 100%;
    height: auto;
}

.secciones{
    margin: 30px 25px 25px 25px;
    width: 60%;
    position: relative;
    float: left;
    border-radius: 15px;
    border-color: grey;
    background-color: rgb(210, 225, 225);

}


.sobremi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 30px;
    text-align: justify;
}

.formac{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
     color: black;
     margin: 10px 30px 10px 30px;
     text-align: justify;
    
}



#formacion ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 60px;
    text-align: justify;
}

#experiencia p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 30px;
    text-align: justify;
}
#experiencia ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 60px;
    text-align: justify;
}

#habilidades ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 60px;
    text-align: justify;
}


#objetivos p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 30px;
    text-align: justify;
}


aside{
    height: fit-content;
    margin: 30px 25px 25px 25px;
    width: 30%;
    position: relative;
    float: right;
    border-radius: 15px;
    border-color: grey;
    background-color: rgb(210, 225, 225);
 

}
aside ul li{
    color: black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    margin: 10px 30px 10px 30px;
}





h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 35px 0 0 35px;
    display: inline-block;
    color: black;
}



 


footer{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: black;
}
footer p{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: x-large;
}


